body {
    background-color: #2d2d2d; /* Fondo oscuro */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 2em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;
    background-color: #1c1c1c; /* Fondo oscuro para el contenedor */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
    color: #f5f5f5; /* Texto claro */
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 1em;
}

.card {
    transition: transform 0.2s;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #333; /* Fondo oscuro para la tarjeta */
    margin-bottom: 2em;
}

.card:hover {
    transform: scale(1.02);
}

.card-header-title {
    font-size: 1.25em;
    color: #f5f5f5; /* Texto claro */
}

.card-content {
    background-color: #444; /* Fondo oscuro para el contenido de la tarjeta */
    color: #f5f5f5; /* Texto claro */
}

.card-footer-item {
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    color: #f5f5f5; /* Texto claro */
}

.card-footer-item:hover {
    background-color: #555;
    transform: scale(1.05);
}

.lottie-container {
    width: 200px;
    height: 200px;
    margin: 0 auto 2em auto;
}

.button.is-link.is-light {
    background-color: #444;
    color: #f5f5f5; /* Texto claro */
    border: none;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.button.is-link.is-light:hover {
    background-color: #555;
    transform: scale(1.05);
}

.button.is-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.button.is-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
    color: #fff;
}
