<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav th:fragment="simple-nav" class="navbar navbar-expand-lg navbar-light bg-floralwhite fixed-top shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/inicio}">
            <img src="/static/uploads/imagen_2024-06-02_152502378-removebg-preview.png" alt="FastDelivery Logo" class="lh-logo">
            <span class="brand-name">Baco</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link load-content" href="#" th:data-url="@{/stocks}" sec:authorize="hasAuthority('ROLE_ADMIN')">Stocks</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link load-content" href="#" th:data-url="@{/proveedores}" sec:authorize="hasAuthority('ROLE_ADMIN')">Proveedores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link load-content" href="#" th:data-url="@{/pedidoproveedores}" sec:authorize="hasAuthority('ROLE_ADMIN')">Pedidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link load-content" href="#" th:data-url="@{/repartidores}" sec:authorize="hasAuthority('ROLE_ADMIN')">Repartidores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/inicio}" sec:authorize="hasAuthority('ROLE_ADMIN')">Inicio</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
