<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav th:fragment="simple-nav" class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" th:href="@{/inicio}">
            <img src="/static/uploads/imagen_2024-06-02_152502378-removebg-preview.png" alt="FastDelivery Logo"
                 class="lh-logo">
            <span class="brand-name">FastDelivery</span>
        </a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/carrito}">
                    <img src="/static/uploads/59bedb1e7a216d0b052f128b.png" alt="Carrito de Compras"
                         style="width: 30px; height: 30px;">
                    <span id="carritoItems" class="badge badge-pill badge-primary"
                          th:text="${#lists.size(carrito)}">0</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>
