body {
    background-image: url("/static/uploads/intento.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #333; /* Texto oscuro */
    font-family: 'Roboto', sans-serif;
    margin: 0; /* Elimina cualquier margen predeterminado del body */
    height: 100%;
}

h1 {
    background-color:transparent;
    color: black;
    padding: 0.5em;
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
    animation: fadeIn 1s ease-in-out;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    background-color: rgba(255, 255, 255, 0.9); /* Slightly opaque white background */
}

.card:hover {
    transform: translateY(-5px);
}

.card-header {
    background-color: transparent;
    font-weight: bold;
}

.card-body p {
    margin-bottom: 10px;
    background-color: transparent;
}


.img-thumbnail {
    height: 20em;

}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.btn-warning {
    background-color: #ffc107;
    color: black;
    border: none;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn-warning:hover {
    background-color: #e0a800;
    transform: scale(1.05);
}

.btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn-danger:hover {
    background-color: #c82333;
    transform: scale(1.05);
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
    border: none;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn-secondary:hover {
    background-color: #5a6268;
    transform: scale(1.05);
}

.btn-success {
    background-color: white;
    color: white;
    border: none;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn-success:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.pagination {
    margin-top: 1em;
    animation: fadeIn 1s ease-in-out;
}

.page-link {
    color: #333;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.page-link:hover {
    background-color: whitesmoke;
    color: black;
}

.page-item.active .page-link {
    background-color: black;
    border-color: black;
    color: whitesmoke;
}

.page-item.disabled .page-link {
    color: #ccc;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.d-flex.justify-content-center {
    margin-bottom: 20px;
}
