<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Lista de Pedidos</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/pedidos/pedidos.css">
    <link rel="stylesheet" href="/static/css/pedidos/form.css">
</head>
<body>
<div class="container">
    <a href="/inicio" class="back-arrow">Volver</a>
    <h1>Pedidos</h1>
    <a href="#" id="newPedidoLink" class="btn-new">Nuevo Pedido</a>
    <div id="newPedidoContainer"></div>
    <div id="estadoPedidoContainer"></div>
    <div id="notifications"></div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>Producto</th>
            <th>Peso</th>
            <th>Estado</th>
            <th sec:authorize="hasAuthority('ROLE_ADMIN')">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pedido : ${pedidos}">
            <td th:text="${pedido.id}"></td>
            <td th:text="${pedido.dniClientePedido != null ? pedido.dniClientePedido.persona.nombre : 'N/A'}">Cliente</td>
            <td th:text="${pedido.fechaPedido}"></td>
            <td th:text="${pedido.producto.nombre}"></td>
            <td th:text="${pedido.peso}"></td>
            <td th:text="${pedido.estado}"></td>
            <td>
                <div sec:authorize="hasAuthority('ROLE_ADMIN')" class="actions">
                    <a href="#" class="estadoPedidoLink" th:data-id="${pedido.id}">Cambiar Estado</a>
                    <a th:href="@{/pedidos/delete/{id}(id=${pedido.id})}"
                       onclick="return confirm('¿Estás seguro de que deseas eliminar este pedido?');">Eliminar</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    const socket = new SockJS('/ws');
    const stompClient = Stomp.over(socket);

    stompClient.connect({}, function (frame) {
        console.log('Connected: ' + frame);
        stompClient.subscribe('/topic/notifications', function (notification) {
            showNotification(notification.body);
        });
    });

    function showNotification(message) {
        const notificationsDiv = document.getElementById('notifications');
        const notification = document.createElement('div');
        notification.innerText = message;
        notificationsDiv.appendChild(notification);
    }
</script>
<script src="/js/newEstado.js"></script>
</body>
</html>
