<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Producto</title>
    <link rel="stylesheet" href="/static/css/productos/newAndEdit/newAndEdit.css">
</head>
<body>
<div class="container mt-5"  th:fragment="edit">
    <h1>Editar Producto</h1>
    <form id="editProfileForm" th:action="@{/productos/update}" th:object="${producto}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" th:field="*{nombre}" class="form-control" required/>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" th:field="*{descripcion}" class="form-control" required></textarea>
        </div>
        <div class="form-group">
            <label for="precio">Precio:</label>
            <input type="number" id="precio" th:field="*{precio}" class="form-control" step="0.01" required/>
        </div>
        <div class="form-group">
            <label for="imagen">Imagen:</label>
            <input type="file" id="imagen" name="imagen" class="form-control"/>
        </div>
        <div th:if="${producto.img != null}" class="form-group">
            <label>Imagen actual:</label>
            <img th:src="@{${producto.img}}" alt="Imagen del Producto" class="img-thumbnail" width="150">
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
    <a th:href="@{/productos}" class="btn btn-secondary mt-3">Volver</a>
</div>
</body>
</html>
