<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="/static/uploads/nuevologo.ico" type="image/x-icon">
    <title>Restablecer Contraseña</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/forgotandrest/forgotandrest.css">
</head>
<body>
<div class="container">
    <h1>Restablecer Contraseña</h1>
    <form th:action="@{/auth/resetPassword}" method="post">
        <input type="hidden" id="token" name="token" th:value="${token}"/>
        <div class="form-group">
            <label for="newPassword">Nueva Contraseña:</label>
            <input type="password" id="newPassword" name="newPassword" class="form-control" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Restablecer Contraseña</button>
        </div>
    </form>
    <div th:if="${message}" class="message">
        <p th:text="${message}"></p>
    </div>
</div>
</body>
</html>
