<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset Password</title>
</head>
<body>
<h1>Reset Password</h1>
<form th:action="@{/auth/resetPassword}" method="post">
    <input type="hidden" id="token" name="token" th:value="${token}" />
    <div>
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" required>
    </div>
    <div>
        <button type="submit">Reset Password</button>
    </div>
</form>
<div th:if="${message}">
    <p th:text="${message}"></p>
</div>
</body>
</html>
